/*
    27 de septiembre de 2022
    Diego Gea Asensio
    Hoja de estilo
*/


body{
    border: 10px solid red
}
p{
    color: wheat
    background-color: rgba(red, green, blue, alpha)(2, 25, 16, 0)
    margin: 12px;
    padding: 2px;
    border-radius: 30px;
}