/*
    27 de Septiembre de 2022
    Autor: Diego Gea Asensio
    Hoja de Estilo CSS
*/


body{
    border: 10px solid black;
}
p{
    color: white;
    background-color: rgba(red, green, blue, alpha);(6,45,2,0.7)
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
}